include include/nav
    block content 
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous')
link(rel='stylesheet' href='../dot.css')
link(rel='stylesheet' href='../css/style.css')
body
  .attendance-list
  h1 new Purchase 
    if purchases.length
      table.table
        thead.thead-dark
          tr
            th(scope='col') Produce Name
            th(scope='col') Name Of Buyer
            th(scope='col') salesagent
            th(scope='col') Tonnage
            th(scope='col') Date
            th(scope='col') Time
            th(scope='col') Amount Paid
            th
        tbody
        each purchase  in purchases
          tr
            
            td #{purchase.producename} 
            td #{purchase.nameofbuyer}
            td #{purchase.salesagent} 
            td #{purchase.tonnage} 
            td #{purchase.date} 
            td #{purchase.time} 
            td #{purchase.amountPaid} 
            
              form(method= "post", Action="/purchases/purchase-list")
                  input(type="hidden", name="_id", value=purchase.id)
                  button(type="submit") DELETE 
              a(href="/editpurchase/" + purchase._id) edit 
    else 
      p No items listed 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous")